<div class="col-xs-12 navbar-default navbar-fixed-top">
    <div class="row iNav">
        <div class="col-xs-4 text-center"><a href="#" class="iMenu"><li class="glyphicon glyphicon-home"></li></a></div>
        <div class="col-xs-4 text-center"><a href="#" class="iMenu"><li class="glyphicon glyphicon-signal"></li></a></div>
        <div class="col-xs-4 text-center"><a href="#" class="iMenu"><li class="glyphicon glyphicon-picture"></li></a></div>
    </div>
</div>

<div class="container">
    loading
</div>