<footer ng-show="showNav">
    <div class="col-xs-12 navbar-default navbar-fixed-bottom">
        <div class="row iNav">
            <div class="col-xs-4 text-center iMenu">
                <a href="#/newest">
                    <li class="glyphicon glyphicon-time"></li>
                    <br/>新潮
                </a>
            </div>
            <div class="col-xs-4 text-center iMenu">
                <a href="#/fashion">
                    <li class="glyphicon glyphicon-signal"></li>
                    <br/>时尚
                </a>
            </div>
            <div class="col-xs-4 text-center iMenu">
                <a href="#/mine" ng-click="requireLogin()">
                    <li class="glyphicon glyphicon-user"></li>
                    <br/>我的
                </a>
            </div>
        </div>
    </div>
</footer>