<div class="col-xs-12 navbar-default navbar-fixed-top">
    <div class="row iNav">
        <div class="col-xs-4 text-center">
            <a href="#/setting" class="iMenu">
                <li class="glyphicon glyphicon-th" ng-click="requireLogin()"></li>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#/notifications" class="iMenu" ng-click="requireLogin()">
                <li class="glyphicon glyphicon-bell"><span class="badge">2</span></li>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a class='glyphicon glyphicon-camera' ng-click="requireLogin()" href='javascript:;' style="color: #838383;">
                <input ng-show="isLogin" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="image" onchange="angular.element(this).scope().changeImage(this)"  size="40"/>
            </a>
        </div>
    </div>
</div>