<div ng-controller="ProfileCtrl" class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">取消</span></button>
                <h4 class="modal-title" id="profileModalLabel">编辑资料</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="text" class="form-control" placeholder="个人主页">
                    <br/>
                    <textarea class="form-control" rows="3" placeholder="个人简介"></textarea>
                    <div ng-if="warning" class="form-group">
                        <div class="alert alert-warning" role="alert">{{warning}}</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="save()" >保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>