<link href="css/sign.css" rel="stylesheet">

<div class="col-xs-12 navbar-default navbar-fixed-top">
    <div class="row iNav">
        <div class="col-xs-12 text-center"><a href="#" style="color: #f489a5;">众里寻她</a></div>
    </div>
</div>

<div class="container">

    <form class="form-sign" role="form" name="sign">
        <label ng-show="warning" class="alert alert-warning">{{warning}}</label>
        <input ng-model="account" type="email" class="form-control" placeholder="邮箱" required autofocus>
        <input ng-model="password" ng-minlength="6" type="password" class="form-control" placeholder="密码" required>
        <label class="pull-right">
            <a href="#/account/forgot">忘记密码</a>
        </label>

        <button class="btn btn-lg btn-default btn-block" ng-click="signIn()">登录</button>
        <button class="btn btn-lg btn-default btn-block" ng-click="signUp()">注册</button>
    </form>

</div>