<div ng-include="'partials/header.html'"></div>
<div class="btn-group btn-group-justified">
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="change('wants')">想要的</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="change('likes')">喜欢的</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="change('tips')">知道的</button>
    </div>
</div>

<hr/>

<div class="animate-switch-container"
     ng-switch on="type">
    <div class="animate-switch" ng-switch-when="wants">
        <div ng-include="'partials/look/list.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="likes">
        <div ng-include="'partials/look/list.html'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="tips">
        <div ng-include="'partials/look/list.html'"></div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>