<div class="col-xs-12 navbar-default navbar-fixed-top">
    <div class="row iNav">
        <div class="col-xs-4 text-center">
            <a href="#/setting" class="iMenu">
                <li class="glyphicon glyphicon-cog" ng-click="requireLogin()"></li>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#/notifications" class="iMenu" ng-click="requireLogin()">
                <li class="glyphicon glyphicon-bell"><span class="badge">2</span></li>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a class='glyphicon glyphicon-camera' ng-click="requireLogin()" href='javascript:;' style="color: #838383;">
                <input ng-show="isLogin" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="image" onchange="angular.element(this).scope().changeImage(this)"  size="40"/>
            </a>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">取消</span></button>
                    <h4 class="modal-title" id="publishModalLabel">众里寻她</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <img class="center-block img-rounded img-responsive" ng-src="{{img}}"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="2" ng-model="description" placeholder="描述/表达"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="favorite" ng-change="changedFavorite()" ng-options="key as value for (key, value) in favorites">
                            <option value="">{{favorite ? favorites[favorite] : "我中意她的这款..."}}</option>
                        </select>
                    </div>
                    <bootstrap-tagsinput class="form-group" ng-model="tags" tagclass="label label-info">
                    </bootstrap-tagsinput>
                    <div ng-if="warning" class="form-group">
                        <div class="alert alert-warning" role="alert">{{warning}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="publish()" >发布</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="view"></div>

    <footer ng-show="showFooter">
        <div class="col-xs-12 navbar-default navbar-fixed-bottom">
            <div class="row iNav">
                <div class="col-xs-4 text-center">
                    <a href="#/feed" ng-click="requireLogin()" style="color: #f489a5;">
                        <li class="glyphicon glyphicon-home"></li>
                        <br/>订阅
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#/trend" style="color: #f489a5;">
                        <li class="glyphicon glyphicon-signal"></li>
                        <br/>时尚
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#/mine" ng-click="requireLogin()" style="color: #f489a5;">
                        <li class="glyphicon glyphicon-user"></li>
                        <br/>我的
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
