<div class="col-xs-12 navbar-default navbar-fixed-top">
    <div class="row iNav">
        <div class="col-xs-4 text-center"><a href="#/setting" class="iMenu"><li class="glyphicon glyphicon-cog"></li></a></div>
        <div class="col-xs-4 text-center"><a href="#/search" class="iMenu"><li class="glyphicon glyphicon-search"></li></a></div>
        <div class="col-xs-4 text-center"><a href="#/upload" class="iMenu"><li class="glyphicon glyphicon-picture"></li></a></div>
    </div>
</div>

<hr/>

<div class="container">
    <div class="row">
        <div ng-repeat="look in looks" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <p>
                    <div class="media">
                        <a class="pull-left" href="#/user/{{look.publisher._id}}">
                            <img width="50" height="50" class="media-object img-circle img-responsive pull-left" ng-src="{{look.publisher.avatar}}">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span class="icon" style="font-size: 16px">{{look.publisher.nick}}</span>
                                <span class="pull-right">
                                    <span class="glyphicon glyphicon-time"></span> {{look.publisher.time}}
                                </span>
                            </h5>
                            <span>{{look.publisher.action}}</span>
                            <span ng-show="look.description">#{{look.description}}</span>
                        </div>
                    </div>
                </p>
                <a href="#/look/{{look._id}}">
                    <img ng-src="{{look.image}}" class="img-rounded img-responsive" alt="{{look.description}}">
                </a>
                <div class="caption">
                    <p>
                        <span class="glyphicon glyphicon-heart icon"></span>
                        <span>{{look.likes}}人喜欢</span>
                        <a href="#/look/like/{{look._id}}" type="button" class="btn btn-default">喜欢</a>
<!--
                        <span ng-repeat="tag in look.tags" class="label label-default" style="background-color: #f48fbe;">{{tag}}</span>
-->
                    </p>
                    <p ng-repeat="favorite in look.favorites">
                        <span class="glyphicon glyphicon-lock icon"></span>
                        <span>{{favorite.aspect}}：{{favorite.tips}}个小贴士</span>
                        <a ng-show="favorite.tips > 0" href="#/look/{{look._id}}/buy/{{favorite._id}}" class="btn btn-default">购买</a>
                        <span ng-show="favorite.tips <= 0">
                            - {{favorite.wants}}人想要
                            <a href="#/look/{{look._id}}/want/{{favorite._id}}" type="button" class="btn btn-default">想要</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <br/>
        <br/>
        <br/>
        <div class="col-xs-12 navbar-default navbar-fixed-bottom">
            <div class="row iNav">
                <div class="col-xs-4 text-center">
                    <a href="#/feed" style="color: #f489a5;">
                        <li class="glyphicon glyphicon-home"></li>
                        <br/>订阅
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#/trend" style="color: #f489a5;">
                        <li class="glyphicon glyphicon-signal"></li>
                        <br/>趋势
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#/mine" style="color: #f489a5;">
                        <li class="glyphicon glyphicon-user"></li>
                        <br/>我的
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>