<div class="col-xs-12 navbar-default navbar-fixed-top">
    <div class="row iNav">
        <div class="col-xs-4 text-center"><a href="#/setting" class="iMenu"><li class="glyphicon glyphicon-cog"></li></a></div>
        <div class="col-xs-4 text-center"><a href="#/search" class="iMenu"><li class="glyphicon glyphicon-search"></li></a></div>
        <div class="col-xs-4 text-center"><a href="#/upload" class="iMenu"><li class="glyphicon glyphicon-picture"></li></a></div>
    </div>
</div>

<hr/>

<div class="container">

    <div class="row">
        <div ng-repeat="look in looks" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <p>
                    <a href="#/user/{{look.publisher._id}}">
                        <img class="img-circle img-responsive pull-left" ng-src="{{look.publisher.avatar}}">{{look.publisher.nick}}
                    </a>
                    <span style="color: #f489a5;">{{look.publisher.action}}</span>
                    <span class="glyphicon glyphicon-time pull-right" style="color: #f489a5;">{{look.publisher.time}}</span>
                </p>
                <img ng-src="{{look.image}}" class="img-rounded img-responsive" alt="{{look.description}}">
                <div class="caption">
                    <h4 ng-show="look.description" style="color: #f489a5;">{{look.description}}</h4>
                    <p class="center-block">
                        <a href="#/look/like/{{look._id}}" class="btn btn-default glyphicon glyphicon-heart-empty" role="button">喜欢({{look.likes}})</a>
<!--
                        <span ng-repeat="tag in look.tags" class="label label-default" style="background-color: #f48fbe;">{{tag}}</span>
-->
                    </p>
                    <p ng-repeat="favorite in look.favorites" style="color: #f489a5;">
                        {{favorite.aspect}}：
                        <span class="glyphicon glyphicon-info-sign">小贴士({{favorite.tips}})</span>
                        <a ng-show="favorite.tips <= 0" href="#/look/{{look._id}}/want/{{favorite._id}}" class="btn btn-default glyphicon glyphicon-eye-open" role="button" >想要({{favorite.wants}})</a>
                        <a ng-show="favorite.tips > 0" href="#/look/{{look._id}}/buy/{{favorite._id}}" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" >购买</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="col-xs-12 navbar-default navbar-fixed-bottom">
        <div class="row iNav">
            <div class="col-xs-4 text-center">
                <a href="#/feed" style="color: #f489a5;">
                    <li class="glyphicon glyphicon-home"></li>
                    <br/>订阅
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#/trend" style="color: #f489a5;">
                    <li class="glyphicon glyphicon-signal"></li>
                    <br/>趋势
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#/mine" style="color: #f489a5;">
                    <li class="glyphicon glyphicon-user"></li>
                    <br/>我的
                </a>
            </div>
        </div>
    </div>
</div>
