body {
	margin-top: 50px;
    background-color: #f4a8aa;
}
.iNav {
    padding:14px;
}
.iNav a {
    font-size:14pt;
    color:#ddd;
    text-decoration:none;
}
.iNav a:hover {
    color:#fff;
}

.iMenu > *{
    color: #838383;
}


.btn-default {
    color: #f46cb3;
    border-color: #f46cb3;
}
.btn-default:hover {
    color: #f43946;
    border-color: #f43946;
}
.icon {
    color: #f489a5;
}

span, p, h4{
    color: #838383;
}

a {
    color: #f46cb3;
}

.btn-image {
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    font-size: 0;
    border: none;
}