body {
	margin-top: 50px;
    background-color: #f4a8aa;
}

.iNav {
    padding:10px;
}
.iNav > div > a {
    font-size:12pt;
    color:#ddd;
    text-decoration:none;
}
.iNav > div > a:hover {
    color:#fff;
}

.iMenu > *{
    color: #838383;
}


.btn-default {
    color: #f46cb3;
    border-color: #f46cb3;
}
.btn-default:hover {
    color: #f43946;
    border-color: #f43946;
}
.icon {
    color: #f489a5;
}

span, p, h4{
    color: #838383;
}

a {
    color: #f46cb3;
}