body {
	margin-top: 50px;
    background-color: #eee;
}

.popover {
    width:230px;
    height:300px;
}

.iNav {
    padding:10px;
    background-color: #FF9999;
}
.iNav > div > a {
    font-size:12pt;
    text-decoration:none;
}

.iMenu > *{
    color: #fff;
}

.iMenu > *:hover{
    color: #fff;
}


.btn-default, a {
    color: #FF9999;
    border-color: #FF9999;
}

.btn-default:hover, a:hover {
    color: #FF99CC;
    border-color: #FF99CC;
}

span, p, h4{
    color: #999999;
}