<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <div ng-include="'partials/look/publisher.html'"></div>
            <img ng-src="{{look.image | formatImage}}" class="img-rounded img-responsive" alt="{{look.description}}">
            <div class="caption">
                <p>
                    <span class="glyphicon glyphicon-heart icon"></span>
                    <span>{{look.likeCount}}人喜欢</span>
                    <button ng-click="like()" class="btn btn-default">喜欢</button>
                    <button data-toggle="modal" data-target="#favoriteModal" class="btn btn-default pull-right">问其它</button>
                </p>
                <p>
                    <span class="glyphicon glyphicon-tags icon"></span>
                    <span>标签：</span>
                    <span ng-repeat="tag in look.tags">
                        <a href="#/tags/{{tag}}" type="button" class="label label-default" style="background-color: #f48fbe;">{{tag}}</a>
                    </span>
                </p>
                <br/>
                <div class="panel panel-default" ng-repeat="favorite in look.favorites">
                    <div class="panel-heading">
                        <h3 class="panel-title">哪儿有卖这款{{favorites[favorite.aspect]}}？ <a href="#/looks/{{look._id}}/wants" class="pull-right">{{favorite.wants.length}}人想要</a></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list" ng-repeat="tip in favorite.tips">
                            <li class="media">
                                <a class="pull-left" href="#/users/{{tip.author._id}}">
                                    <img width="50" height="50" class="media-object img-circle img-responsive pull-left" ng-src="{{tip.author.avatar | formatAvatar}}">
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">
                                        <span class="icon" style="font-size: 16px">{{tip.author.nick | formatNick}}</span>
                                        <span class="pull-right">
                                        <span class="glyphicon glyphicon-time"></span> {{tip.created | formatTime}}</span>
                                    </h6>
                                    <div class="well well-lg">
                                        {{tip.content}}
                                    </div>
                                    <button ng-click="likeTip()" class="btn btn-default btn-sm pull-right">喜欢({{tip.likes ? tip.likes.length : 0}})</button>
                                    <br/>
                                    <hr/>

                                    <div class="media" ng-repeat="comment in tip.comments">
                                        <a class="pull-left" href="#/users/{{comment.commenter._id}}">
                                            <img width="40" height="40" class="media-object img-circle img-responsive pull-left" ng-src="{{comment.commenter.avatar | formatAvatar}}">
                                        </a>
                                        <div class="media-body">
                                            <h6 class="media-heading">
                                                <span class="icon" style="font-size: 16px">{{comment.commenter.nick | formatNick}}</span>
                                                <span class="pull-right">
                                                <span class="glyphicon glyphicon-time"></span> {{comment.time | formatTime}}</span>
                                            </h6>
                                            <div class="well well-sm">
                                                {{comment.content}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="tip" class="media">
                                <a class="pull-left" href="#/users/{{me._id}}" style="opacity:0.5;filter:alpha(opacity=50);">
                                    <img width="40" height="40" class="media-object img-circle img-responsive pull-left" ng-src="{{me.avatar | formatAvatar}}">
                                </a>
                                <div class="media-body">
                                <span class="form-group">
                                    <textarea class="form-control" rows="2" ng-keyup="commentContent = ($event.keyCode === 13 ? addComment(tip, commentContent) : commentContent)" ng-model="commentContent" placeholder="评论这条小贴士"></textarea>
                                </span>
                                </div>
                            </li>
                            <br/>
                            <hr/>
                        </ul>
                        <br/>
                        <button ng-show="favorite.tips.length <= 0" ng-click="want(favorite.aspect)" class="btn btn-default pull-left">想要</button>
                        <button ng-click="onAddTip(favorite.aspect)" class="btn btn-default pull-right" data-toggle="modal" data-target="#tipModal">+小贴士</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tips Modal -->
<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="tipModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">取消</span></button>
                <h4 class="modal-title" id="tipModalLabel">我知道哪儿有卖这款{{favorites[aspect]}}</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" rows="2" ng-model="content" placeholder="如果有链接，麻烦粘贴个链接进来"></textarea>
                </div>

                <div ng-if="warning" class="form-group">
                    <div class="alert alert-warning" role="alert">{{warning}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="addTip(content)" >提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<!-- favorite Modal -->
<div class="modal fade" id="favoriteModal" tabindex="-1" role="dialog" aria-labelledby="favoriteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">取消</span></button>
                <h4 class="modal-title" id="favoriteModalLabel">我看中了另一个宝贝</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="aspects" data-toggle="dropdown">
                            我中意她的这款{{aspect ? favorites[aspect] : "..."}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="aspects">
                            <li role="presentation" ng-repeat="(key, value) in favorites">
                                <a role="menuitem" tabindex="-1" href="" ng-click="selectedFavorite(key)">{{value}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="warning" class="form-group">
                    <div class="alert alert-warning" role="alert">{{warning}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="addFavorite(content)" >提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>