<div ng-include="'partials/header.html'"></div>

<div ng-include="'partials/look/publish.html'"></div>

<div class="row">
    <div ng-repeat="look in looks" class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
            <div ng-include="'partials/look/publisher.html'"></div>
            <a href="#/looks/{{look._id}}">
                <img ng-src="{{look.image | formatImage}}" class="img-rounded img-responsive" alt="{{look.description}}">
            </a>
            <div class="caption">
                <p>
                    <span class="glyphicon glyphicon-heart icon"></span>
                    <span>{{look.likeCount}}人喜欢</span>
                    <button ng-click="requireLogin() && like(look._id)" class="btn btn-default">喜欢</button>
                </p>
                <p ng-repeat="favorite in look.favorites">
                    <span class="glyphicon glyphicon-lock icon"></span>
                    <span>{{favorites[favorite.aspect]}}：{{favorite.tips.length}}个小贴士</span>
                    <a ng-click="requireLogin()" href="#/looks/{{look._id}}/favorites/{{favorite.aspect}}/buy" type="button" ng-show="favorite.tips.length > 0" class="btn btn-default">购买</a>
                        <span ng-show="favorite.tips.length <= 0">
                            - {{favorite.wants.length}}人想要
                            <button ng-click="requireLogin() && want(look._id, favorite.aspect)" class="btn btn-default">想要</button>
                        </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>