<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>众里寻她</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="css/index.css" rel="stylesheet">

    <style>
        body{background-color: #f4a8aa;}
        .navbar{background-color: #ffffff;}
    </style>
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="" style="color: #000000;">众里寻她</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about" style="color: #000000;">我的</a>
                    </li>
                    <li>
                        <a href="#contact" style="color: #000000;">最近</a>
                    </li>
                    <li>
                        <a href="#contact" style="color: #000000;">趋势</a>
                    </li>
                    <li>
                        <a href="#" style="color: #000000;">
                            <span class="badge pull-right" style="background-color: #f46cb3">42</span>
                            提醒
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="" style="color: #000000;">
                    <span class="glyphicon glyphicon-camera"></span>
                </a>

                <a class="navbar-brand" href="" style="color: #000000;">
                    <span class="glyphicon glyphicon-picture"></span>
                </a>
            </div>
        </div>
    </nav>

    <hr/>

    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h3 style="color: #f489a5;">哪能买到这双鞋子</h3>
                        <p>
                            <span class="label label-default" style="background-color: #f46cb3;">鞋子</span>
                            <span class="label label-default" style="background-color: #f46cb3;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h3 style="color: #f489a5;">哪能买到这双鞋子</h3>
                        <p>
                            <span class="label label-default" style="background-color: #f46cb3;">鞋子</span>
                            <span class="label label-default" style="background-color: #f46cb3;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h3 style="color: #f489a5;">哪能买到这双鞋子</h3>
                        <p>
                            <span class="label label-default" style="background-color: #f46cb3;">鞋子</span>
                            <span class="label label-default" style="background-color: #f46cb3;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h3 style="color: #f489a5;">哪能买到这双鞋子</h3>
                        <p>
                            <span class="label label-default" style="background-color: #f46cb3;">鞋子</span>
                            <span class="label label-default" style="background-color: #f46cb3;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h3 style="color: #f489a5;">哪能买到这双鞋子</h3>
                        <p>
                            <span class="label label-default" style="background-color: #f46cb3;">鞋子</span>
                            <span class="label label-default" style="background-color: #f46cb3;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h3 style="color: #f489a5;">哪能买到这双鞋子</h3>
                        <p>
                            <span class="label label-default" style="background-color: #f46cb3;">鞋子</span>
                            <span class="label label-default" style="background-color: #f46cb3;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>版本所有 &copy; 爱女人 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
