<!DOCTYPE html>
<html lang="cn" ng-app="iWomen">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="iWomen">
    <meta name="author" content="jackong">

    <title>众里寻她</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="js/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="css/index.css" rel="stylesheet">

    <script data-main="js/main" src="js/libs/requirejs/require.js"></script>
</head>

<body class="container" ng-controller="RootCtrl">
    <div ng-view></div>

    <div ng-include="'partials/login.html'"></div>
</body>

</html>
