<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>众里寻她</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="css/index.css" rel="stylesheet">
</head>

<body>

    <div class="col-xs-12 navbar-default navbar-fixed-top">
        <div class="row iNav">
            <div class="col-xs-4 text-center"><a href="#" class="iMenu"><li class="glyphicon glyphicon-home"></li></a></div>
            <div class="col-xs-4 text-center"><a href="#" class="iMenu"><li class="glyphicon glyphicon-signal"></li></a></div>
            <div class="col-xs-4 text-center"><a href="#" class="iMenu"><li class="glyphicon glyphicon-picture"></li></a></div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h4 style="color: #f489a5;">哪能买到这双鞋子</h4>
                        <p>
                            <span class="label label-default" style="background-color: #f48fbe;">鞋子</span>
                            <span class="label label-default" style="background-color: #f48fbe;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h4 style="color: #f489a5;">哪能买到这双鞋子</h4>
                        <p>
                            <span class="label label-default" style="background-color: #f48fbe;">鞋子</span>
                            <span class="label label-default" style="background-color: #f48fbe;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h4 style="color: #f489a5;">哪能买到这双鞋子</h4>
                        <p>
                            <span class="label label-default" style="background-color: #f48fbe;">鞋子</span>
                            <span class="label label-default" style="background-color: #f48fbe;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h4 style="color: #f489a5;">哪能买到这双鞋子</h4>
                        <p>
                            <span class="label label-default" style="background-color: #f48fbe;">鞋子</span>
                            <span class="label label-default" style="background-color: #f48fbe;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h4 style="color: #f489a5;">哪能买到这双鞋子</h4>
                        <p>
                            <span class="label label-default" style="background-color: #f48fbe;">鞋子</span>
                            <span class="label label-default" style="background-color: #f48fbe;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="...">
                    <div class="caption">
                        <h4 style="color: #f489a5;">哪能买到这双鞋子</h4>
                        <p>
                            <span class="label label-default" style="background-color: #f48fbe;">鞋子</span>
                            <span class="label label-default" style="background-color: #f48fbe;">粉色</span>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default glyphicon glyphicon-heart-empty" role="button" style="color: #f46cb3;border-color: #f46cb3">喜欢(11)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-eye-open" role="button" style="color: #f46cb3;border-color: #f46cb3">想要(8)</a>
                            <a href="#" class="btn btn-default glyphicon glyphicon-shopping-cart" role="button" style="color: #f46cb3;border-color: #f46cb3">购买</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="col-xs-12 navbar-default navbar-fixed-bottom">
                <div class="row iNav">
                    <div class="col-xs-6 text-center">
                        <a href="#" style="color: #f489a5;">
                            <li class="glyphicon glyphicon-bullhorn"></li>
                            <br/>寻她
                        </a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="#" style="color: #f489a5;">
                            <li class="glyphicon glyphicon-user"></li>
                            <br/>我的
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>

</html>
